/* Basic CSS Reset with border-box */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: monospace;
    line-height: 1.5;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: monospace;
}
