# Node.js
node_modules/

# Logs
npm-debug.log
yarn-error.log
*.log

# OS-specific files
.DS_Store          # macOS
Thumbs.db          # Windows

# IDE folders
.vscode/           # Visual Studio Code settings
.idea/             # JetBrains IDE settings

# Environment files
.env               # Environment variables, should not be versioned